{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Vue</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main>
        <div id="loading"></div>

        {% block content %}{% endblock content %}
    </main>
</body>
<script src="{% static 'js/base.js' %}"></script>

</html>