{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container mx-auto px-4 grid grid-cols-2 grid-rows-3 grid-flow-col gap-4" id="app">

    {% for user in users %}

    <button type="button" data-user="{{ user|object_to_json }}" @click="setSelectedUser"
        :class="{'bg-blue-200': getSelectedUser()?.uid === '{{ user.uid }}', 'hover:bg-gray-100': getSelectedUser()?.uid !== '{{ user.uid }}'}"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 w-6/12">
        {{ user.name }}
    </button>

    {% endfor %}

    <div class="grid grid-rows-subgrid gap-4 row-span-3">

        <p v-if="getLoadingUserPackages()">Loading</p>
        <div v-else v-for="userPackage in getSelectedUserPackages()">
            <p class="row-start-2 text-3xl font-bold underline">[[ userPackage.content ]]</p>
        </div>

    </div>

</div>
</div>

<script type="module" src="{% static 'js/index.js' %}"></script>

{% endblock content %}